@mixin standartsize{
  width: 100%;
  height: 738px;
  background: #e25050;
}
@mixin flexconteiner{
  display: flex;
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.priceh4name{
  font-family: Oswald;
  text-transform: uppercase;
  color:  #ffffff;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 21px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.priceh3h3cena{
  font-family: Oswald;
  color:  #ffffff;
  font-size: 36px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 21px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  sup{
    font-family: Oswald;
    color:  #ffffff;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 21px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
}

.price {
  .priceh3{
    text-transform: uppercase;
    font-family: Oswald;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 21px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: {
      top: 0;
      bottom: 70px;
    }
    padding: {
      top: 80px;
    };
  }
  @include standartsize;
}
.conteinerprice{

@include flexconteiner;
  li {
    list-style-type: none;
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }
  ul {
    padding: 0;
  }
  a{
    display: table;
    width: 230px;
    height: 54px;
    text-align: center;
    margin: {
      left: auto;
      right: auto;
    }

    span{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.priceprice{
  width: 370px;
  height: 505px;
  background: #d14343;
  border: 1px solid #d14343;
  a{
    margin: {
      top: 29px;
    };
    font-family: Oswald;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 21px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    background: #e25050;
    text-transform: uppercase;
    transition: all 1.5s;
    }

  transition: all 1.5s;
}
.priceprice:hover {
  border: 1px solid white;
  a{
    color: #e25050;
    background-color:  #ffffff;
    opacity: 1;
    transition: all 1.5s;
  }
  a:hover{
    opacity: 0.5;
    transition: all 1.5s;
  }
  transition: all 1.5s;
}
